{% extends "./base.html" %}

{% block content %}
    <h1>Accueil</h1>
    <p>{{ connexionType }}</p>
    <div class='container d-flex flex-column justify-content-center align-items-center'>
        <h2>Modifier vos identifiants</h2>
        <label for="user_name">Nom d'utilisateur :</label>
        <input type="text" id="user_name" name="user_name" value="{{ user.user_name }}" disabled>
        <label for="user_psw">Mot de passe :</label>
        <input type="password" id="user_psw" name="user_psw" value="helloWorld" disabled>
        <label for="user_email">e-mail :</label>
        <input type="email" id="user_email" name="user_email" value="{{ user.user_email }}" disabled>

        <button type='button' class="btn bg-danger" data-toggle="modal" data-target="#modalInformations"><h4>Modifier vos identifiants</h4></button>

        {% block modal %}{% endblock %}
    </div>
{% endblock %}

