{% extends "./base.html" %}

{% block content %}


    <h1>Bienvenue à vous</h1>
    <form action="{% url 'exo:connexion' %}" method='POST' class='container d-flex flex-column justify-content-center align-items-center'>
        {% csrf_token %}
        <h2>Entrez vos identifiants</h2>
        {{ form }}
        {% if error %}
            <p>Utilisateur ou Mot de passe inconnu</p>
        {% endif %}
        <button class="m-1" type='submit'>Connexion</button>
    </form>
    
    
{% endblock %}