{% extends "./accueil.html" %}

{% block modal %}
    <div id="modalInformations" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Modification de vos informations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
               
                <label for="user_email_modal">e-mail :</label>
                <input type="email" id="user_email_modal" name="user_email_modal" value="{{ user.user_email }}" placeholder="azerty@alpha.io">
                <p id="verification-modal-email"></p>

            </div>
            <div class="modal-footer">
                <button type="button" onclick='updateEmail()' class="btn btn-primary">Enregistrer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
    <script>
        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
        function updateEmail()
        {   
            //Vérifie le format de l'email avant envoi de la données
            if(!isEmail(document.getElementById("user_email_modal").value)){
                document.getElementById("verification-modal-email").innerHTML = "Format attendu : azeerty@xxx.xx";
                document.getElementById("verification-modal-email").style.color = "red";
                return false;
            }
            //Envoie de la donnée au serveur pour update l'email
            $.ajax({
                type: "GET",
                url: "{% url 'exo:connexion2' %}",
                data : {
                        'user_name': "{{user.user_name}}",
                        'user_email': document.getElementById("user_email_modal").value,
                },
                dataType: "json",
                success: function (reponse) {
                    if(reponse['fait']){
                        document.getElementById("verification-modal-email").innerHTML = "Modification effectuée";
                        document.getElementById("verification-modal-email").style.color = "green";
                        document.getElementById("user_email").value = reponse['user_email'];
                    }else{
                        document.getElementById("verification-modal-email").innerHTML = "Modification non effectuée: erreur interne";
                        document.getElementById("verification-modal-email").style.color = "red";
                    }
                }
            })
        }
    </script> 
{% endblock %}
